.AppMain {
  z-index: 0;
  background-color: var(--primary-lighter);
  padding-top: calc(var(--header-height));
  margin-left: var(--aside-width);
  width: calc(100% - var(--aside-width));
  min-height: 100%;
  height: max-content;
  display: grid;
  background-size: 50px;
}
.GroupBox {
  background-color: var(--primary-lighter);
  padding: var(--lg);
  border-radius: var(--sm);
  border: 1px solid var(--primary-darker);
}
