.aside {
  z-index: 1;
  background-color: var(--mavi);
  box-shadow: 0 0 20px #1f20225d;
  height: 100vh;
  width: var(--aside-width);
  overflow-y: auto;
  transition: width 0.25s ease;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  &.closed {
    width: 0;
  }
  .head {
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding-left: calc((var(--aside-width) - 180px) / 2);
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--mavi-dark);
    border-bottom: 1px solid var(--mavi-darker);
    svg {
      width: 160px;
    }
  }
  .body {
    font-size: 1.2rem;
    flex: 1;
    li {
      .MuiButton {
        color: var(--primary);
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 1rem;
        width: 100%;
        flex: 1;
        background-color: var(--mavi);
        border-radius: 0;
        padding: var(--sm) 0;
        padding-left: calc((var(--aside-width) - 180px) / 2);
        border-left: 2px solid transparent;
        transition: border-left-color, background-color 0.235s ease;
        &.active {
          border-left-color: var(--primary);
          background-color: var(--mavi-dark);
        }
        svg {
          width: 25px;
          height: 25px;
          fill: var(--primary);
          + span {
            margin-left: var(--md);
            margin-top: 1px;
            line-height: inherit;
          }
        }
      }
    }
  }
  .foot {
    display: flex;
    justify-content: flex-end;
    color: var(--primary);
    .VersionText {
      padding-right: var(--md);
      padding-bottom: var(--xs);
      font-size: smaller;
      font-weight: 300;
    }
  }
}
